@import "../menu/burgermenu.css";
@import "header.css";
@import "../templates/userInList/UserRepesentationInList.css";
@import "../templates/notificationInList/NotificationRepesentationInList.css";
@import "../templates/popUp/popUp.css";
@import "CSSvariables.css";
@import "../templates/achievement/achievement.css";
@import "../chat/chat.css";


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a90e2;
}



@font-face {
    font-family: 'Burbank'; /* Choisissez un nom pour votre police */
    src: url('../data/font/BurbankBigCondensedBlack.otf') format('opentype');
    /* Ajoutez des déclarations supplémentaires si nécessaire */
}

body {
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../data/images/BlueBackground.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.page-title{
    text-align: center;
    font-family:'Burbank','arial';
    font-size: 3rem;
    margin: 0;
    padding: 0rem;
    color:white;
}



* {
    font-family: 'Burbank',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    padding: 38px;
}

burger-menu,
.top-page {
    margin: 10px 0; /* Ajouter une marge entre les éléments */
}

/* Vous pouvez ajuster les marges individuellement si nécessaire */
.burger-menu {
    margin-bottom: 20px; /* Ajuster la marge inférieure du burger-menu */
}

.top-page {
    margin-top: 20px; /* Ajuster la marge supérieure de la top-page */
}




/* main depends on every page, check each page css */
h1 {
    text-align: center;
}

/* buttons */
button {
    margin: 0.5em;
    padding: 1em;
    border: none;
    border-radius: 1000px;
    font-size: 1.2em;
    cursor: pointer;
}

button a {
    text-align: center;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;
}

button:hover {
    background-color: var(--very-dark-accentuation-color);
}

/* input */
.text-input {
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1rem;
    text-align: center;
    width: 90%;
}

#bottom-content {
    display: grid;
    margin-top: 10vw;
}

/* classes */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-background {
    background-color: #FFFFFF;
}


.hidden {
    visibility: hidden;
}

/* table */

th {
    background-color: var(--dark-accentuation-color);
}

td, th {
    padding: 25px 50px;
    border: 1px solid black;
}

@media (orientation: portrait) and (width <= 480px) {
    td, th {
        padding: 20px 1vw;
    }
}

table {
    border-collapse: collapse;
}

