:root {
    --background-color: white;
    --light-accentuation-color: #99EBF5 /*#90e0ef #00A6FB/*#8ECAE6/*#B6FFC0 #f5f5f5*/;
    --dark-accentuation-color: #00b4d8 /*#0582CA/*#219EBC/*#49E66E #b3b3b3*/;
    --very-dark-accentuation-color: #0077b6 /*#006494/*#023047 /*#0E993A /*#909090*/;

    --light-accentuation-grey: #f5f5f5;
    --dark-accentuation-grey: #b3b3b3;
    --very-dark-accentuation-grey: #909090;


    --bubble-bg-color: var(--dark-accentuation-color) /*#CA6CE6 #FF94B9 #60DE84*/;
    --bubble-bg-color-accentuation: var(--very-dark-accentuation-color) /*#8D3DA6 #F03C7B #30A451*/;

    --icon-width: 35px;
    --icon-padding: 22px;

    --header-height: 100px;
}
