@import "../commonCSS/CSSvariables.css";

burger-menu {
    background: var(--light-accentuation-grey);
}

burger-menu-open-close {
    background: var(--light-accentuation-grey);
    /* display: none; */
}

#menu-buttons > * > button {
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    font-size: 1.7em;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--dark-accentuation-color);
}

nav {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: row;
}

nav > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav > div img {
    width: var(--icon-width);
}

nav > div > * {
    padding: var(--icon-padding);
}

nav > div > a {
    height: var(--icon-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

#menu-icons {
    height: 100%;
    background: var(--light-accentuation-grey)
}

#menu-icons *:first-child,
#menu-buttons *:first-child {
    padding-top: 0px;
}

#menu-icons *:last-child,
#menu-buttons *:last-child {
    padding-bottom: 0;
}

#menu-buttons {
    height: 100%;
    background: var(--light-accentuation-grey);
    display: none;
    position: absolute;
    left: calc(var(--icon-width) + 2 * var(--icon-padding));
    padding-top: var(--header-height);
    top: 0;
}

/* hamburger icon animation */
.bar {
    display: block;
    width: var(--icon-width);
    height: 5px;
    margin: 6px auto;
    background-color: black;

    /* fade in animation on page load */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

#other-button, #other {
    display: none;
}

@media (orientation: portrait) and (width <= 480px) {
    #menu-buttons {
        width: calc(100% - var(--icon-width) - 2 * var(--icon-padding));
    }
}

@media (orientation: landscape) and (height <= 480px) {
    #other, #other-button {
        display: inherit;
    }

    #profile, #profile-button,
    #friends, #friends-button,
    #addFriends, #addFriends-button,
    #ranking, #ranking-button,
    #logout, #logout-button {
        display: none;
    }

    #menu-icons > a, #menu-buttons > a {
        padding: 15px 22px;
    }
}

