main {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 65vw;
    max-width: 33em;
}

#offline-info {
    display: none;
}

#button-container * {
    height: 20%;
    width: 100%;
}

#button-container > button {
    background-color: var(--dark-accentuation-color);
    height: 17vh;
    width: 65vw;
}

#button-container > button:hover {
    background-color: var(--very-dark-accentuation-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (width <= 480px) and (orientation: portrait) {
    #button-container {
        width: 80%;
    }

    #offline-info {
        display: none;
        margin-bottom: 10px;
        font-size: 1.28em;
        text-align: center;
    }

    #offline-info {
        margin-top: 28vh;
    }
}

@media (height <= 480px) and (orientation: landscape) {
    #button-container {
        width: 80%;
        height: 100%;
        grid-gap: 2px;

    }

    #button-container * {
        height: initial;
        width: 100%;
    }

    #offline-info {
        margin-top: 15vh;
    }
}














body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a90e2;
}

@font-face {
    font-family: 'Burbank'; /* Choisissez un nom pour votre police */
    src: url('../data/font/BurbankBigCondensedBlack.otf') format('opentype');
    /* Ajoutez des déclarations supplémentaires si nécessaire */
}

body {
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../data/images/BlueBackground.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
}



.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 10fr); /* Trois colonnes */
    grid-gap: 20px; /* Espace entre les boutons */
    padding-right: 200px;
    padding-left: 200px;
}

.title {
    text-align: center;
    font-family:'Burbank','arial';
    font-size: 5rem;
    margin: 0;
    padding: 0rem;
    color:white;
}


.sub-title {
    text-align: center;
    font-family:'Burbank','arial';
    font-size: 3rem;
    margin: 0;
    padding: 0.5rem;
}


h1 {
    font-family:'Burbank','arial';
    color: white;
    margin: 0;
    font-size: 7em;
}

.btn {
    font-family: 'Burbank', 'arial';
    margin: 30px auto;
    padding: 20px 40px; /* Agrandi par rapport à l'original */
    font-size: 2.5em; /* Taille de texte augmentée */
    border: none;
    border-radius: 10px; /* Bords plus arrondis pour un look plus moderne */
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Position relative pour les icônes absolues */
    overflow: hidden; /* Pour éviter tout débordement d'icône */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Largeur augmentée */
    height: auto; /* Hauteur ajustée automatiquement */
}



#shop, #rules, #stats, #friends, #settings {
    width: 220px;
    color: white;
}

#play {background: linear-gradient(45deg, #ff9800, #ff6d00); }
#shop { background: linear-gradient(45deg, #029be5, #01579b); }
#rules {background: linear-gradient(45deg, #029be5, #01579b); }
#stats { background: linear-gradient(45deg,#ec407a, #c2185b); }
#friends { background: linear-gradient(45deg, #66bb6a, #2e7d32); }
#settings { background: linear-gradient(45deg, #ab47bc, #6a1b9a); }

.btn:hover {
    background: linear-gradient(45deg, #ffd194, #ffab00);
    /* Légère augmentation de la taille pour un effet de zoom */
    transform: scale(1.15);
    /* Transition plus fluide */
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    /* Ajout d'une ombre pour un effet de profondeur */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    /* Changement de la couleur du texte pour une meilleure visibilité */
    color: #333;
}


.btn img {
    position: absolute;
    left: 20px; /* Ajustement pour plus d'espace */
    width: 40px; /* Icône plus grande */
    height: auto;
}

.btn span {
    display: block;
    margin-left: 50px; /* Plus d'espace pour le texte */
}


@media (max-width: 600px) {
    .menu {
        grid-template-columns: 1fr; /* Une colonne pour les petits écrans */
    }
}
