body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a90e2;
}

@font-face {
    font-family: 'Burbank'; /* Choisissez un nom pour votre police */
    src: url('../data/font/BurbankBigCondensedBlack.otf') format('opentype');
    /* Ajoutez des déclarations supplémentaires si nécessaire */
}

body {
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../data/images/BlueBackground.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 200px; /* Ajouter une marge supérieure pour éviter que les éléments ne descendent trop bas */
}

.sub-title {
    text-align: center;
    font-family:'Burbank','arial';
    font-size: 3rem;
    margin: 0;
    padding: 0.5rem;
}


h1 {
    margin-top: 100px;
    font-family:'Burbank','arial';
    color: white;
    margin: 0;
    font-size: 7em;
}

@media (max-width: 600px) {
    .product {
        width: 80%; /* Largeur ajustée pour les petits écrans */
        margin: 20px auto;
    }
}

.nav-bar {
    display: flex;
    font-size: 20px;
    justify-content: space-around; /* Espacement égal entre les éléments */
    background-color: #029be5; /* Couleur de fond bleue */
    padding: 10px 0; /* Espace de remplissage intérieur */
}

.nav-btn {
    font-family: 'Burbank', 'arial';
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    background-color: #029be5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #01579b; /* Couleur bleue foncée au survol */
}

.product-container {
    display: flex; /* Utiliser flexbox pour disposer les produits horizontalement */
    overflow-x: auto; /* Permettre le défilement horizontal si nécessaire */
    white-space: nowrap; /* Empêcher le retour à la ligne des produits */
}

.product {
    position: relative;
    flex: 0 0 auto;
    margin-left: 40px;
    margin-right: 40px; /* Ajouter de l'espace entre les produits */
    margin-top: 40px; /* Ajouter de l'espace entre les produits et la barre de navigation */
    overflow: hidden;
    min-height: 370px; /* Définir une hauteur minimale pour chaque produit */
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05); /* Légèrement agrandir le produit lors du hover */
}

.product-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: filter 0.3s; /* Ajouter une transition pour un effet de couleur au survol */
}

.product-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(1, 46, 86, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px; /* Coins arrondis pour le rectangle */
    z-index: -1; /* Assure que le rectangle soit derrière l'image */
    transition: background-color 0.3s; /* Ajouter une transition pour un effet de couleur au survol */
}
.product:hover .product-info {
    background-color: white; /* Changer la couleur du rectangle en blanc lors du hover */
}


.product-name {
    font-family:'Burbank','arial';
    margin-top: 220px;
    font-size: 40px;
    color: white; /* Couleur du texte dans le rectangle */
    transition: color 0.3s; /* Ajouter une transition pour un effet de couleur au survol */

}

.product-price {
    font-family:'Burbank','arial';
    margin-top: auto;
    margin-left: 115px;
    font-size: 23px;
    color: white; /* Couleur du texte dans le rectangle */
    transition: color 0.3s; /* Ajouter une transition pour un effet de couleur au survol */

}

.product:hover .product-price {
    color: rgb(12, 175, 187); /* Changer la couleur du texte en noir lors du survol */
    font-size: 30px;
}
.product:hover .product-name{
    color: rgba(7, 27, 82, 0.8); /* Changer la couleur du texte en noir lors du survol */
    font-size: 60px;

}