body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a90e2;
}
@font-face {
    font-family: 'Burbank'; /* Choisissez un nom pour votre police */
    src: url('../data/font/BurbankBigCondensedBlack.otf') format('opentype');
    /* Ajoutez des déclarations supplémentaires si nécessaire */
}
body {
    justify-content: center;
    height: 230vh;
    margin: 0;
    background-image: url('../data/images/BlueBackground.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
}

h1 {
    position: relative;
    top: 10%;
    transform: translateY(-45%);

    text-align: center;
    font-family:'Burbank','arial';
    font-size: 5rem;
    margin: 0;
    padding: 0rem;
    color: white;
}


h2, h3 {
    color: white;
    font-family:'Burbank','arial';
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 30px;
}

p, 
p1 {
    font-size: 20px; /* Taille de police du texte */
    line-height: 1.5; /* Hauteur de ligne */
    font-family: 'fantasy';
    margin-top: 10px; /* Réduisez l'espace au-dessus de p1 */
    margin-bottom: 10px; /* Ajoutez de l'espace en dessous de p1 */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%; /* Largeur du conteneur principal */
    margin: 0 auto; /* Centrage horizontal */
}

.content1 {
    flex: 1;
    margin-right: 100px;
    margin-bottom: 100px;
}
.content2 {
    flex: 1;
    margin-left: 108px;
    margin-top: -170px; /* Réduire l'espace au-dessus de content2 */

}

/* Styles pour les liens */
a {
    color: #ffffff; /* Couleur des liens */
    text-decoration: none; /* Suppression du soulignement */
}

a:hover {
    color: #ffcc00; /* Couleur au survol */
}

.image {
    flex: 1;
    margin-left: 250px; /* Marge entre l'image et le contenu */
    height: 100px;
}

/* Pour que les éléments soient placés verticalement sur des écrans étroits */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .content1,
    .content2,
    .image {
        width: 100%;
        margin: 0; /* Réinitialisation des marges pour les éléments empilés verticalement */
    }
}

h2,
h3,
p,
p1,
.container,
.image,
.content1,
.content2 {
    position: relative;
    top: 30%; /* Ajustez la valeur selon vos besoins */
    transform: translateY(-30%);
}

