body, html {
    height: 90%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a90e2;
}
@font-face {
    font-family: 'Burbank'; /* Choisissez un nom pour votre police */
    src: url('../files/BurbankBigCondensedBlack.otf') format('opentype');
    /* Ajoutez des déclarations supplémentaires si nécessaire */
}
body {
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../files/BlueBackground.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-family:'Burbank','arial';
    font-size: 5rem;
    margin: 0;
    padding: 0rem;
    color: white;
}

h2 {
    color: white;
    font-family:'Burbank','arial';
}

p {
    font-size: 16px; /* Taille de police du texte */
    line-height: 1.5; /* Hauteur de ligne */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 95%; /* Largeur du conteneur principal */
    margin: 0 auto; /* Centrage horizontal */
    padding: 20px;
}

.content1 {
    flex: 1;
}
.content2 {
    flex: 1;
    margin-left: 49px;
}


h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Styles pour les liens */
a {
    color: #ffffff; /* Couleur des liens */
    text-decoration: none; /* Suppression du soulignement */
}

a:hover {
    color: #ffcc00; /* Couleur au survol */
}

.image {
    flex: 1;
    margin-left: 300px; /* Marge entre l'image et le contenu */
    height: 80px;
}

/* Pour que les éléments soient placés verticalement sur des écrans étroits */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .content1,
    .content2,
    .image {
        width: 100%;
        margin: 0; /* Réinitialisation des marges pour les éléments empilés verticalement */
    }
}
