  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4a90e2;
}

@font-face {
  font-family: 'Burbank'; /* Choisissez un nom pour votre police */
  src: url('../files/BurbankBigCondensedBlack.otf') format('opentype');
  /* Ajoutez des déclarations supplémentaires si nécessaire */
}

body {
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('../files/BlueBackground.png'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}

h1 {
  font-family:'Burbank','arial';
  color: white;
  margin: 0;
  font-size: 7em;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}